.heading {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    
}

.text {
    text-align: center;
}

.btn {
    padding: 8px 16px;
    color:white;
    border: 0;
    background-color: grey;
    transition: 300ms;
    border-radius: 8px;
}

.btn:hover {
    background-color: #333;
}